/* begin Page */

/* Start Box */
.webbox {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='webbox-'+e[ i]}('br,bl,cr,cl,tr,tl'.split(',')));
}
.webbox-body {
   zoom:1;
}
.webbox-tl, .webbox-tr, .webbox-cl, .webbox-cr, .webbox-bl, .webbox-br {
   position:absolute;
   display:block;
   top:0;
   bottom:0;
   background-repeat: no-repeat;
}
.webbox-tl,.webbox-bl,.webbox-cl {
   left:0;
}
.webbox-tr,.webbox-br,.webbox-cr {
   right:0;
}
.webbox-cl, .webbox-cr {
   background-repeat:repeat-y;
}
.webbox-tl {
   background-position: top left;
   z-index:-3;
}
.webbox-tr {
   background-position: top right;
   z-index:-3;
}
.webbox-cl {
   background-position: center left;
   z-index:-3;
}
.webbox-cr {
   background-position: center right;
   z-index:-3;
}
.webbox-bl {
   background-position: bottom left;
   z-index:-3;
}
.webbox-br {
   background-position: bottom right;
   z-index:-3;
}

.webbox .webbox-tl,.webbox .webbox-tr,.webbox .webbox-cl,.webbox .webbox-cr,.webbox .webbox-bl,.webbox .webbox-br{
   z-index:-2;
}
.webbox .webbox .webbox-tl,.webbox .webbox .webbox-tr,.webbox .webbox .webbox-cl,.webbox .webbox .webbox-cr,.webbox .webbox .webbox-bl,.webbox .webbox .webbox-br{
   z-index:-1;
}
/* End Box */

/* Start Bar */
.webbar {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='webbar-'+e[ i]}('r,l'.split(',')));
}
.webbar-l, .webbar-r {
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat-y;
}
.webbar-l {
   left:0;
   background-position: top left;
}
.webbar-r {
   right:0;
   background-position: top right;
}
/* End Bar */

/* end Page */

/* begin Box, Sheet */
.websheet>.webbox-tl, .websheet>.webbox-tr{
   background-image: url('../images/sheet_t.png');
}
.websheet>.webbox-bl, .websheet>.webbox-br {
   background-image: url('../images/sheet_b.png');
}
.websheet>.webbox-tl, .websheet>.webbox-bl, .websheet>.webbox-cl{
   right:36px;
}
.websheet>.webbox-tr, .websheet>.webbox-br, .websheet>.webbox-cr{
   width: 36px;
}
.websheet>.webbox-cl, .websheet>.webbox-cr{
   top:36px;
   bottom:36px;
   background-image:url('../images/sheet.png');
}
/* end Box, Sheet */

/* begin Header */
.webheader {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='webheader-png',insertBefore(document.createElement('div'),firstChild).className='webheader-jpeg');
   z-index: 1;
}

.webheader-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 125px;
   background-image: url('../images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

.webheader-jpeg
{
   position: absolute;
   z-index:-1;
   top: 0;
   left:15px;
   right:15px;
   height: 125px;
   background-image: url('../images/header.jpg');
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin Menu */
.webnav {
   position: expression(runtimeStyle.position='relative');
}
.webnav>.webbar-l, .webnav>.webbar-r{
   background-image: url('../images/nav.png');
}
.webnav>.webbar-l{
   right: 15px;
}
.webnav>.webbar-r{
   width: 15px;
}
.webhmenu ul li {
   float: left !important;
   width:100%;
}
.webhmenu>li 
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}

/* end Menu */

/* begin MenuItem */
ul.webhmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='webhmenu-'+e[ i]}('r,l'.split(',')));
}
ul.webhmenu>li>a>span.webhmenu-l, ul.webhmenu>li>a>span.webhmenu-r
{
   position: absolute;
   display: block;
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('../images/menuitem.png');
}

ul.webhmenu>li>a>span.webhmenu-l
{
   left: 0;
   right: 10px;
   background-position: top left;
}

ul.webhmenu>li>a>span.webhmenu-r
{
   width: 10px;
   right: 0;
   background-position: top right;
}

ul.webhmenu>li>a.active>span.webhmenu-l {
   background-position: bottom left;
} 
ul.webhmenu>li>a.active>span.webhmenu-r {
   background-position: bottom right;
}
ul.webhmenu>li>a.active {
   color: #CDE8EE;
}

ul.webhmenu>li>a:hover>span.webhmenu-l, ul.webhmenu>li:hover>a>span.webhmenu-l {
   background-position: center left;
}
ul.webhmenu>li>a:hover>span.webhmenu-r, ul.webhmenu>li:hover>a>span.webhmenu-r {
   background-position: center right;
}
ul.webhmenu>li>a:hover, ul.webhmenu>li:hover>a{
   color: #103942;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.webhmenu>li:first-child {
   padding-right:8px;
}
/* end MenuSeparator */

/* begin Layout */
.webcontent-layout, .webcontent-layout-row, .weblayout-cell 
{
   display: block;
   zoom: 1;
}
.weblayout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin BlockHeader, VMenuBlockHeader */
.webvmenublockheader>.webbar-l, .webvmenublockheader>.webbar-r{
   background-image: url('../images/vmenublockheader.png');
}
.webvmenublockheader>.webbar-l{
   right: 24px;
}
.webvmenublockheader>.webbar-r{
   width: 24px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin VMenuItem */
ul.webvmenu, ul.webvmenu ul, ul.webvmenu li{
   zoom: 1;
}
ul.webvmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='webvmenu-'+e[ i]}('r,l'.split(',')));
}
ul.webvmenu>li>a>span.webvmenu-l, ul.webvmenu>li>a>span.webvmenu-r
{
   position: absolute;
   display: block;
   z-index:-1;
   background-image: url('../images/vmenuitem.png');
   top:0;
   height:26px;
}

ul.webvmenu>li>a>span.webvmenu-l{
   left: 0;
   right: 0;
   background-position: top left;
}
ul.webvmenu>li>a>span.webvmenu-r{
   width: 0;
   right: 0;
   background-position: top right;
}
ul.webvmenu>li>a.active>span.webvmenu-l {
   background-position: bottom left;
}
ul.webvmenu>li>a.active>span.webvmenu-r {
   background-position: bottom right;
}
ul.webvmenu>li>a:hover>span.webvmenu-l  {
   background-position: center left;
}
ul.webvmenu>li>a:hover>span.webvmenu-r {
   background-position: center right;
}

ul.webvmenu .webvmenu-separator, ul.webvmenu .webvmenu-separator-bg
{
   display: block;
   position:absolute;
   left:0;
   right:0;
}
ul.webvmenu>li>.webvmenu-separator, ul.webvmenu>li>ul>.webvmenu-separator{
   height: 0;
   top:-1px;
   z-index:1;
   border-bottom: solid 1px #B5D3D9;
}

ul.webvmenu>li:first-child>.webvmenu-separator,ul.webvmenu>li:first-child>.webvmenu-separator-bg{
   display:none;
}

/* end VMenuItem */

/* begin BlockHeader */
.webblockheader>.webbar-l, .webblockheader>.webbar-r{
   background-image: url('../images/blockheader.png');
}
.webblockheader>.webbar-l{
   right: 24px;
}
.webblockheader>.webbar-r{
   width: 24px;
}

/* end BlockHeader */

/* begin PostIcons, PostHeaderIcons */
.webpostheadericons span{
   zoom: 1;
}/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.webpostcontent {
   height: 1%;
}
/* end PostContent */

/* begin PostIcons, PostFooterIcons */
.webpostfootericons span{
   zoom: 1;
}/* end PostIcons, PostFooterIcons */

/* begin Footer */
.webfooter {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='webfooter-'+e[ i]}('r,l,t'.split(',')));
}
.webfooter-body 
{
   zoom: 1;
   padding-right: 0;
}

.webfooter-t
{
   position: absolute;
   z-index:-1;
   left:0;
   right:0;
   top:0;
   bottom:50px;
   background-image: url('../images/footer.png');
   background-position:bottom left;
}

.webfooter-l, .webfooter-r 
{
   position: absolute;
   content:' ';
   z-index:-1;
   bottom:0;
   height:50px;
   background-image: url('../images/footer_b.png');
}

.webfooter-l
{
   left:0;
   right:15px;
   background-position: top left;
}

.webfooter-r
{
   right:0;
   width:15px;
   background-position: top right;
}
/* end Footer */

/* begin LayoutCell, content */
.websidebar1 
{
   width: auto;
   float:none;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='websidebar1-bg' + (className.indexOf('websidebar1-fix') == -1 ? '' : ' websidebar1-bg-fix' ));
}
/* end LayoutCell, content */

/* begin LayoutCell, sidebar1 */

.websidebar1-bg 
{
   zoom:expression(runtimeStyle.zoom=1, appendChild(document.createElement('div')).className='websidebar1-glare');
   position:absolute;
   z-index:-2;
   direction: ltr;
   right:  0;
   bottom:0;
   top:0;
   width: 200px;
   overflow:hidden;
   display:block;
   background-color: #DEF3F7;
}
/* end LayoutCell, sidebar1 */

