---
layout: default
name: about
html_title: Σχετικά με τον σύλλογο
menu_text: Ο Σύλλογος
menu_order: 10
lang: el
permalink: /el/about
---
<p>Ο Σύλλογος Χρονομεριστών του Ξενοδοχειακού Συγκροτήματος PORTO HYDRA ιδρύθηκε το 2011 με σκοπό να επιλύει και προστατεύει με τον καλύτερο δυνατό τρόπο τα δίκαια αιτήματα των χρονομεριστών σε ό,τι αφορά στα χρονομερίδια τους. Μετά την Γ.Σ. της 12/12/2011, από τις αρχαιρεσίες προέκυψε το πρώτο Διοικητικό Συμβούλιο του Συλλόγου το οποίο έχει ως εξής:</p>
<p></p>
<p>
    <strong>ΠΡΟΕΔΡΟΣ:</strong> Σέργιος Παπάσης<br />
    <strong>ΑΝΤ/ΔΡΟΣ:</strong> Γεώργιος Σκλαβούνος<br />
    <strong>ΓΡΑΜΜΑΤΕΥΣ:</strong> <a href="mailto:marinoug@ath.forthnet.gr">Γιαννούλα Μαρίνου</a><br />
    <strong>ΤΑΜΙΑΣ:</strong> Αλεξανδρος Τζίτζιρας<br />
    <strong>ΜΕΛΟΣ:</strong> Νικόλαος Κιρκής
</p>
<p> </p>
<p>Εφ'όσον επιθυμείτε να εγγραφείτε στο Σύλλογο, παρακαλώ κατεβάστε και συμπληρώστε την αίτηση εγγραφής και στείλτε την στη διεύθυνση που αναγράφεται στην ενότητα "Επικοινωνία". Μαζί με την αίτηση σας, θα πρέπει να αποστείλετε και την απόδειξη της EUROBANK (αριθμός λογαριασμού 0026.0245.62.0101317465) όπου θα καταβάλετε το ποσόν των 20,00€ ως δικαίωμα εγγραφής σας στον σύλλογο. Θυμηθείτε στην αιτιολογία της κατάθεση σας να αναγράψετε το ονοματεπώνυμο σας όπως θα φαίνεται και στην αίτηση σας.</p>
{% include pdfFile.html file="AitisiXronomeriston.pdf" name="ΑΙΤΗΣΗ ΕΓΓΡΑΦΗΣ ΣΥΛΛΟΓΟΥ ΧΡΟΝΟΜΕΡΙΣΤΩΝ" %}
{% include getAdobe.html %}