{% capture actionUrl %}/{{ page.lang }}/search/{% endcapture %}
<!-- Custom search box using http://stackoverflow.com/questions/2174187/google-custom-search-with-custom-search-box-and-button -->
<form action="{{actionUrl}}" method="GET" accept-charset="UTF-8">
    <div>
        <div class="container-inline">
            <h2 class="element-invisible">{{site.t[page.lang].search}}</h2>
            <div class="form-item form-type-textfield form-item-search-block-form">
                <input title="{{site.t[page.lang].search}}" type="text" name="q" id="searchInput" value="" class="form-text"/>
                <div class="form-actions form-wrapper" id="cmdSearch"><span class="webbutton-wrapper"><span class="webbutton-l"></span><span class="webbutton-r"></span><input type="submit" value="{{site.t[page.lang].search}}" class="form-submit webbutton" /></span></div>
            </div>
        </div>
    </div>
</form>
