<div class="weblayout-cell websidebar1">
    <div class="region region-sidebar-right">
        <div class="block block-search" id="block-search-form">
            <div class="webbox webblock">
                <div class="webbox-body webblock-body">
                    <div class="webbox webblockcontent">
                        <div class="webbox-body webblockcontent-body">
                            <div class="content">
                                {% include searchField.html %}
                            </div>
                            <div class="cleared"></div>
                        </div>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
        </div>
        <div class="block block-on-the-web" id="block-on-the-web-0">
            <div class="webbox webblock">
                <div class="webbox-body webblock-body">
                    <div class="webbar webblockheader">
                        <h3 class="t subject">
                            {{site.t[page.lang].findUsOn}}...
                        </h3>
                    </div>
                    <div class="webbox webblockcontent">
                        <div class="webbox-body webblockcontent-body">
                            <div class="content">
                                <span class="on-the-web otw-facebook"><a href="http://www.facebook.com/groups/portohydra/" title="{{site.t[page.lang].findUsOn}} Facebook" rel="nofollow" target="_blank"><img typeof="foaf:Image" src="{{site.Url}}/images/facebook.png" alt="{{site.t[page.lang].findUsOn}} Facebook" title="{{site.t[page.lang].findUsOn}} Facebook" /></a></span>
                            </div>
                            <div class="cleared"></div>
                        </div>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
        </div>
    </div>
</div>