---
layout: posts
html_title: Πρακτικά Ετήσιας Γενικής Συνέλευσης
menu_text: Πρακτικά Ετήσιας Γενικής Συνέλευσης
lang: el
permalink: /el/:year/:month/:day/:title.html
redirect_from: /el/node/27
---
<p>Την 11η Φεβρουαρίου 2013 πραγματοποιήθηκε η Ετήσια Γενική Συνέλευση του Συλλόγου Χρονομεριστών του Ξενοδοχειακού Συγκροτήματος Πόρτο Ύδρα.</p>
<!--more-->
<p>Τα πρακτικά της Γενικής Συνέλευσης μπορείτε να τα βρείτε εδώ:</p>
{% include pdfFile.html file="2013.02.PraktikoSineleysis.pdf" name="Πρακτικά Ετήσιας Γενικής Συνέλευσης" %}

<p>Επίσης μπορείτε να διαβάσετε δύο ενδιαφέρουσες επιστολές που απευθύνονται στα μέλη του συλλόγου:</p>
<ol>
    <li>{% include pdfFile.html file="2013.02.plepi.pdf" name="Επιστολή από Ακτή Πλέπι" %}</li>
    <li>{% include pdfFile.html file="2013.02.rci.pdf" name="Επιστολή από RCI" %}</li>
</ol>
<table class="theBoard">
    <thead>
    <tr>
        <th>Ο ΠΡΟΕΔΡΟΣ</th>
        <th>Η ΓΡΑΜΜΑΤΕΥΣ</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ΣΕΡΓΙΟΣ ΠΑΠΑΣΗΣ</td>
        <td> ΓΙΑΝΝΟΥΛΑ ΜΑΡΙΝΟΥ</td>
    </tr>
    </tbody>
</table>
{% include getAdobe.html %}
