<!DOCTYPE html>
<html lang="{{page.lang}}" class="{{page.lang}}" xmlns:content="http://purl.org/rss/1.0/modules/content/"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xmlns:og="http://ogp.me/ns#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:sioc="http://rdfs.org/sioc/ns#"
      xmlns:sioct="http://rdfs.org/sioc/types#"
      xmlns:skos="http://www.w3.org/2004/02/skos/core#"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
{% include head.html %}
<body {% if page.body_class %}class="{{ page.body_class }}" {% endif %}>
    <div id="webmain">
        <div class="cleared reset-box"></div>
        <div class="webbox websheet">
            <div class="webbox-body websheet-body">
                {% include menu.html %}
                <div class="weblayout-wrapper">
                    <div class="webcontent-layout">
                        <div class="webcontent-layout-row">
                            <div class="weblayout-cell webcontent">
                                <div class="webbox webpost">
                                    <div class="webbox-body webpost-body">
                                        <div class="webpost-inner webarticle">
                                            <h2 class="webpostheader">{{ page.menu_text }}<span property="dc:title" content="{{ page.menu_text }}" class="rdf-meta element-hidden"></span></h2>
                                            <div class="webpostcontent">
                                                <div class="field field-name-field-body">
                                                    {{ content }}
                                                    {% if site.shareaholic_app_id %}
                                                    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='{{site.shareaholic_app_id}}'></div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include sidebar.html %}
                        </div>
                    </div>
                </div>
                {% include footer.html %}
                <div class="cleared"></div>
            </div>
        </div>
        <div class="cleared"></div>
        <div class="cleared"></div>
    </div>
    {% include scripts.html %}
</body>
</html>